$primary: blue;
$secondary: lightblue;
$warming: yellow;
$danger: red;

h1 {
  color: $primary;
}
#header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $secondary;

  #title {
    color: $secondary;
    &:hover {
      color: $danger;
    }
    & > .logo {
      width: 100px;
    }
  }
}